{
  "swagger": "2.0",
  "info": {
    "title": "Vitau API",
    "x-logo": {
      "url": "https://vitau-logos.s3.us-west-1.amazonaws.com/profile-logo.png",
      "backgroundColor": "#FFFFFF"
    },
    "version": "v2"
  },
  "host": "api-v2-prod.vitau.mx",
  "schemes": ["http"],
  "basePath": "/",
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "securityDefinitions": {
    "API Key Auth": {
      "type": "apiKey",
      "in": "header",
      "name": "X-API-KEY"
    },
    "Cookie Auth": {
      "type": "apiKey",
      "in": "cookie",
      "name": "sessionid"
    },
    "Bearer Auth": {
      "type": "http",
      "scheme": "bearer",
      "bearerFormat": "JWT"
    }
  },
  "security": [
    {
      "API Key Auth": []
    },
    {
      "Bearer Auth": []
    },
    {
      "Cookie Auth": []
    }
  ],
  "paths": {
    "/": {
      "get": {
        "operationId": "_list",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "tags": [""]
      },
      "parameters": []
    },
    "/api/account-recovery/": {
      "post": {
        "operationId": "api_account-recovery_create",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccountRecoveryWrite"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Empty"
            }
          },
          "404": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Empty"
            }
          }
        },
        "tags": ["api"]
      },
      "parameters": []
    },
    "/api/appointments/": {
      "get": {
        "operationId": "api_appointments_list",
        "description": "",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "A page number within the paginated result set.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return per page.",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "required": ["count", "results"],
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer"
                },
                "next": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "previous": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "results": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Appointment"
                  }
                }
              }
            }
          }
        },
        "tags": ["api"]
      },
      "post": {
        "operationId": "api_appointments_create",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Appointment"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Appointment"
            }
          }
        },
        "tags": ["api"]
      },
      "parameters": []
    },
    "/api/appointments/{id}/": {
      "get": {
        "operationId": "api_appointments_read",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Appointment"
            }
          }
        },
        "tags": ["api"]
      },
      "put": {
        "operationId": "api_appointments_update",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Appointment"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Appointment"
            }
          }
        },
        "tags": ["api"]
      },
      "patch": {
        "operationId": "api_appointments_partial_update",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Appointment"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Appointment"
            }
          }
        },
        "tags": ["api"]
      },
      "delete": {
        "operationId": "api_appointments_delete",
        "description": "",
        "parameters": [],
        "responses": {
          "204": {
            "description": ""
          }
        },
        "tags": ["api"]
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/api/base-products/": {
      "get": {
        "operationId": "api_base-products_list",
        "description": "",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "description": "A search term.",
            "required": false,
            "type": "string"
          },
          {
            "name": "ordering",
            "in": "query",
            "description": "Which field to use when ordering the results.",
            "required": false,
            "type": "string"
          },
          {
            "name": "diseases",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "category",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "pharmaceutical_company",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "id__in",
            "in": "query",
            "description": "M\u00faltiples valores separados por comas.",
            "required": false,
            "type": "number"
          },
          {
            "name": "page",
            "in": "query",
            "description": "A page number within the paginated result set.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return per page.",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "required": ["count", "results"],
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer"
                },
                "next": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "previous": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "results": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/BaseProductRead"
                  }
                }
              }
            }
          }
        },
        "tags": ["api"]
      },
      "post": {
        "operationId": "api_base-products_create",
        "description": "Return information serialized by read_serializer",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BaseProductWrite"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/BaseProductRead"
            }
          }
        },
        "tags": ["api"]
      },
      "parameters": []
    },
    "/api/base-products/{id}/": {
      "get": {
        "operationId": "api_base-products_read",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/BaseProductRead"
            }
          }
        },
        "tags": ["api"]
      },
      "put": {
        "operationId": "api_base-products_update",
        "description": "Return information serialized by read_serializer",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BaseProductWrite"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/BaseProductRead"
            }
          }
        },
        "tags": ["api"]
      },
      "patch": {
        "operationId": "api_base-products_partial_update",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BaseProductWrite"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/BaseProductWrite"
            }
          }
        },
        "tags": ["api"]
      },
      "delete": {
        "operationId": "api_base-products_delete",
        "description": "",
        "parameters": [],
        "responses": {
          "204": {
            "description": ""
          }
        },
        "tags": ["api"]
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "A unique integer value identifying this base product.",
          "required": true,
          "type": "integer"
        }
      ]
    },
    "/api/batches/": {
      "get": {
        "operationId": "api_batches_list",
        "description": "",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "description": "A search term.",
            "required": false,
            "type": "string"
          },
          {
            "name": "ordering",
            "in": "query",
            "description": "Which field to use when ordering the results.",
            "required": false,
            "type": "string"
          },
          {
            "name": "product",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "store",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "A page number within the paginated result set.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return per page.",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "required": ["count", "results"],
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer"
                },
                "next": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "previous": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "results": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/BatchRead"
                  }
                }
              }
            }
          }
        },
        "tags": ["api"]
      },
      "post": {
        "operationId": "api_batches_create",
        "description": "Return information serialized by read_serializer",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BatchWrite"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/BatchWrite"
            }
          }
        },
        "tags": ["api"]
      },
      "parameters": []
    },
    "/api/batches/bulk_update/": {
      "put": {
        "operationId": "api_batches_bulk_update_update",
        "description": "Endpoint that is required to update all instances of a queryset, instead of using `get_object()`.",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BatchWrite"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/BatchWrite"
            }
          }
        },
        "tags": ["api"]
      },
      "patch": {
        "operationId": "api_batches_bulk_update_partial_update",
        "description": "Endpoint that is required to update all instances of a queryset, instead of using `get_object()`.",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BatchWrite"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/BatchWrite"
            }
          }
        },
        "tags": ["api"]
      },
      "parameters": []
    },
    "/api/batches/exit/adjustment/": {
      "post": {
        "operationId": "api_batches_exit_exit_adjustment",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InventoryExit"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/BatchRead"
            }
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "tags": ["api"]
      },
      "parameters": []
    },
    "/api/batches/exit/sale/": {
      "post": {
        "operationId": "api_batches_exit_exit_sale",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InventoryOrderExit"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/BatchRead"
            }
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "tags": ["api"]
      },
      "parameters": []
    },
    "/api/batches/{id}/": {
      "get": {
        "operationId": "api_batches_read",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/BatchRead"
            }
          }
        },
        "tags": ["api"]
      },
      "put": {
        "operationId": "api_batches_update",
        "description": "Return information serialized by read_serializer",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BatchWrite"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/BatchWrite"
            }
          }
        },
        "tags": ["api"]
      },
      "patch": {
        "operationId": "api_batches_partial_update",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BatchWrite"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/BatchWrite"
            }
          }
        },
        "tags": ["api"]
      },
      "delete": {
        "operationId": "api_batches_delete",
        "description": "",
        "parameters": [],
        "responses": {
          "204": {
            "description": ""
          }
        },
        "tags": ["api"]
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "A unique integer value identifying this batch.",
          "required": true,
          "type": "integer"
        }
      ]
    },
    "/api/carts/": {
      "get": {
        "operationId": "api_carts_list",
        "description": "",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "A page number within the paginated result set.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return per page.",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "required": ["count", "results"],
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer"
                },
                "next": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "previous": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "results": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Cart"
                  }
                }
              }
            }
          }
        },
        "tags": ["api"]
      },
      "post": {
        "operationId": "api_carts_create",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Cart"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Cart"
            }
          }
        },
        "tags": ["api"]
      },
      "parameters": []
    },
    "/api/carts/{id}/": {
      "get": {
        "operationId": "api_carts_read",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Cart"
            }
          }
        },
        "tags": ["api"]
      },
      "put": {
        "operationId": "api_carts_update",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Cart"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Cart"
            }
          }
        },
        "tags": ["api"]
      },
      "patch": {
        "operationId": "api_carts_partial_update",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Cart"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Cart"
            }
          }
        },
        "tags": ["api"]
      },
      "delete": {
        "operationId": "api_carts_delete",
        "description": "",
        "parameters": [],
        "responses": {
          "204": {
            "description": ""
          }
        },
        "tags": ["api"]
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/api/categories/": {
      "get": {
        "operationId": "api_categories_list",
        "description": "",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "description": "A search term.",
            "required": false,
            "type": "string"
          },
          {
            "name": "ordering",
            "in": "query",
            "description": "Which field to use when ordering the results.",
            "required": false,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "A page number within the paginated result set.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return per page.",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "required": ["count", "results"],
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer"
                },
                "next": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "previous": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "results": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Category"
                  }
                }
              }
            }
          }
        },
        "tags": ["api"]
      },
      "post": {
        "operationId": "api_categories_create",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Category"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Category"
            }
          }
        },
        "tags": ["api"]
      },
      "parameters": []
    },
    "/api/categories/{id}/": {
      "get": {
        "operationId": "api_categories_read",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Category"
            }
          }
        },
        "tags": ["api"]
      },
      "put": {
        "operationId": "api_categories_update",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Category"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Category"
            }
          }
        },
        "tags": ["api"]
      },
      "patch": {
        "operationId": "api_categories_partial_update",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Category"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Category"
            }
          }
        },
        "tags": ["api"]
      },
      "delete": {
        "operationId": "api_categories_delete",
        "description": "",
        "parameters": [],
        "responses": {
          "204": {
            "description": ""
          }
        },
        "tags": ["api"]
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "A unique integer value identifying this category.",
          "required": true,
          "type": "integer"
        }
      ]
    },
    "/api/change-password/": {
      "post": {
        "operationId": "api_change-password_create",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ChangePasswordWrite"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Empty"
            }
          },
          "400": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Empty"
            }
          },
          "404": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Empty"
            }
          }
        },
        "tags": ["api"]
      },
      "parameters": []
    },
    "/api/coupons/": {
      "get": {
        "operationId": "api_coupons_list",
        "description": "",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "description": "A search term.",
            "required": false,
            "type": "string"
          },
          {
            "name": "ordering",
            "in": "query",
            "description": "Which field to use when ordering the results.",
            "required": false,
            "type": "string"
          },
          {
            "name": "is_active",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "owner",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "has_free_shipping",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "unowned",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "A page number within the paginated result set.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return per page.",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "required": ["count", "results"],
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer"
                },
                "next": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "previous": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "results": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/AdminCouponRead"
                  }
                }
              }
            }
          }
        },
        "tags": ["api"]
      },
      "post": {
        "operationId": "api_coupons_create",
        "description": "Return information serialized by read_serializer",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CouponWrite"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/AdminCouponRead"
            }
          }
        },
        "tags": ["api"]
      },
      "parameters": []
    },
    "/api/coupons/{id}/": {
      "get": {
        "operationId": "api_coupons_read",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/AdminCouponRead"
            }
          }
        },
        "tags": ["api"]
      },
      "put": {
        "operationId": "api_coupons_update",
        "description": "Return information serialized by read_serializer",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CouponWrite"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/AdminCouponRead"
            }
          }
        },
        "tags": ["api"]
      },
      "patch": {
        "operationId": "api_coupons_partial_update",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CouponWrite"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/CouponWrite"
            }
          }
        },
        "tags": ["api"]
      },
      "delete": {
        "operationId": "api_coupons_delete",
        "description": "",
        "parameters": [],
        "responses": {
          "204": {
            "description": ""
          }
        },
        "tags": ["api"]
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/api/diseases/": {
      "get": {
        "operationId": "api_diseases_list",
        "description": "",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "description": "A search term.",
            "required": false,
            "type": "string"
          },
          {
            "name": "ordering",
            "in": "query",
            "description": "Which field to use when ordering the results.",
            "required": false,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "A page number within the paginated result set.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return per page.",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "required": ["count", "results"],
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer"
                },
                "next": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "previous": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "results": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Disease"
                  }
                }
              }
            }
          }
        },
        "tags": ["api"]
      },
      "post": {
        "operationId": "api_diseases_create",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Disease"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Disease"
            }
          }
        },
        "tags": ["api"]
      },
      "parameters": []
    },
    "/api/diseases/{id}/": {
      "get": {
        "operationId": "api_diseases_read",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Disease"
            }
          }
        },
        "tags": ["api"]
      },
      "put": {
        "operationId": "api_diseases_update",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Disease"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Disease"
            }
          }
        },
        "tags": ["api"]
      },
      "patch": {
        "operationId": "api_diseases_partial_update",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Disease"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Disease"
            }
          }
        },
        "tags": ["api"]
      },
      "delete": {
        "operationId": "api_diseases_delete",
        "description": "",
        "parameters": [],
        "responses": {
          "204": {
            "description": ""
          }
        },
        "tags": ["api"]
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "A unique integer value identifying this disease.",
          "required": true,
          "type": "integer"
        }
      ]
    },
    "/api/doctor-profiles/": {
      "get": {
        "operationId": "api_doctor-profiles_list",
        "description": "",
        "parameters": [
          {
            "name": "doctor",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "A page number within the paginated result set.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return per page.",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "required": ["count", "results"],
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer"
                },
                "next": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "previous": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "results": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/DoctorProfileRead"
                  }
                }
              }
            }
          }
        },
        "tags": ["api"]
      },
      "post": {
        "operationId": "api_doctor-profiles_create",
        "description": "Return information serialized by read_serializer",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DoctorProfileWrite"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/DoctorProfileDoctorRead"
            }
          }
        },
        "tags": ["api"]
      },
      "parameters": []
    },
    "/api/doctor-profiles/{id}/": {
      "get": {
        "operationId": "api_doctor-profiles_read",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/DoctorProfileRead"
            }
          }
        },
        "tags": ["api"]
      },
      "put": {
        "operationId": "api_doctor-profiles_update",
        "description": "Return information serialized by read_serializer",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DoctorProfileWrite"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/DoctorProfileDoctorRead"
            }
          }
        },
        "tags": ["api"]
      },
      "patch": {
        "operationId": "api_doctor-profiles_partial_update",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DoctorProfileWrite"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/DoctorProfileWrite"
            }
          }
        },
        "tags": ["api"]
      },
      "delete": {
        "operationId": "api_doctor-profiles_delete",
        "description": "",
        "parameters": [],
        "responses": {
          "204": {
            "description": ""
          }
        },
        "tags": ["api"]
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "A unique integer value identifying this doctor profile.",
          "required": true,
          "type": "integer"
        }
      ]
    },
    "/api/doctors/": {
      "get": {
        "operationId": "api_doctors_list",
        "description": "",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "A page number within the paginated result set.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return per page.",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "required": ["count", "results"],
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer"
                },
                "next": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "previous": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "results": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/DoctorRead"
                  }
                }
              }
            }
          }
        },
        "tags": ["api"]
      },
      "post": {
        "operationId": "api_doctors_create",
        "description": "Return information serialized by read_serializer",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DoctorWrite"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/DoctorRead"
            }
          }
        },
        "tags": ["api"]
      },
      "parameters": []
    },
    "/api/doctors/{id}/": {
      "get": {
        "operationId": "api_doctors_read",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/DoctorRead"
            }
          }
        },
        "tags": ["api"]
      },
      "put": {
        "operationId": "api_doctors_update",
        "description": "Return information serialized by read_serializer",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DoctorWrite"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/DoctorRead"
            }
          }
        },
        "tags": ["api"]
      },
      "patch": {
        "operationId": "api_doctors_partial_update",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DoctorWrite"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/DoctorWrite"
            }
          }
        },
        "tags": ["api"]
      },
      "delete": {
        "operationId": "api_doctors_delete",
        "description": "",
        "parameters": [],
        "responses": {
          "204": {
            "description": ""
          }
        },
        "tags": ["api"]
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/api/groups/": {
      "get": {
        "operationId": "api_groups_list",
        "description": "",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "A page number within the paginated result set.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return per page.",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "required": ["count", "results"],
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer"
                },
                "next": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "previous": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "results": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Group"
                  }
                }
              }
            }
          }
        },
        "tags": ["api"]
      },
      "post": {
        "operationId": "api_groups_create",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Group"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Group"
            }
          }
        },
        "tags": ["api"]
      },
      "parameters": []
    },
    "/api/groups/{id}/": {
      "get": {
        "operationId": "api_groups_read",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Group"
            }
          }
        },
        "tags": ["api"]
      },
      "put": {
        "operationId": "api_groups_update",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Group"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Group"
            }
          }
        },
        "tags": ["api"]
      },
      "patch": {
        "operationId": "api_groups_partial_update",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Group"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Group"
            }
          }
        },
        "tags": ["api"]
      },
      "delete": {
        "operationId": "api_groups_delete",
        "description": "",
        "parameters": [],
        "responses": {
          "204": {
            "description": ""
          }
        },
        "tags": ["api"]
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "A unique integer value identifying this grupo.",
          "required": true,
          "type": "integer"
        }
      ]
    },
    "/api/image-albums/": {
      "get": {
        "operationId": "api_image-albums_list",
        "description": "",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "A page number within the paginated result set.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return per page.",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "required": ["count", "results"],
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer"
                },
                "next": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "previous": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "results": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/ImageAlbum"
                  }
                }
              }
            }
          }
        },
        "tags": ["api"]
      },
      "post": {
        "operationId": "api_image-albums_create",
        "description": "Create an album of images. For now, we can receive several files along\nwith the is_default attribute. For it to work with other attributes we need to\nmodify this method.",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ImageAlbum"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ImageAlbum"
            }
          }
        },
        "tags": ["api"]
      },
      "parameters": []
    },
    "/api/image-albums/{id}/": {
      "get": {
        "operationId": "api_image-albums_read",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ImageAlbum"
            }
          }
        },
        "tags": ["api"]
      },
      "put": {
        "operationId": "api_image-albums_update",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ImageAlbum"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ImageAlbum"
            }
          }
        },
        "tags": ["api"]
      },
      "patch": {
        "operationId": "api_image-albums_partial_update",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ImageAlbum"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ImageAlbum"
            }
          }
        },
        "tags": ["api"]
      },
      "delete": {
        "operationId": "api_image-albums_delete",
        "description": "",
        "parameters": [],
        "responses": {
          "204": {
            "description": ""
          }
        },
        "tags": ["api"]
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "A unique integer value identifying this album.",
          "required": true,
          "type": "integer"
        }
      ]
    },
    "/api/images/": {
      "get": {
        "operationId": "api_images_list",
        "description": "",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "A page number within the paginated result set.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return per page.",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "required": ["count", "results"],
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer"
                },
                "next": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "previous": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "results": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Image"
                  }
                }
              }
            }
          }
        },
        "tags": ["api"]
      },
      "post": {
        "operationId": "api_images_create",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Image"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Image"
            }
          }
        },
        "tags": ["api"]
      },
      "parameters": []
    },
    "/api/images/{id}/": {
      "get": {
        "operationId": "api_images_read",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Image"
            }
          }
        },
        "tags": ["api"]
      },
      "put": {
        "operationId": "api_images_update",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Image"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Image"
            }
          }
        },
        "tags": ["api"]
      },
      "patch": {
        "operationId": "api_images_partial_update",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Image"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Image"
            }
          }
        },
        "tags": ["api"]
      },
      "delete": {
        "operationId": "api_images_delete",
        "description": "",
        "parameters": [],
        "responses": {
          "204": {
            "description": ""
          }
        },
        "tags": ["api"]
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "A unique integer value identifying this image.",
          "required": true,
          "type": "integer"
        }
      ]
    },
    "/api/institutions/": {
      "get": {
        "operationId": "api_institutions_list",
        "description": "",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "A page number within the paginated result set.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return per page.",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "required": ["count", "results"],
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer"
                },
                "next": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "previous": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "results": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Institution"
                  }
                }
              }
            }
          }
        },
        "tags": ["api"]
      },
      "post": {
        "operationId": "api_institutions_create",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Institution"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Institution"
            }
          }
        },
        "tags": ["api"]
      },
      "parameters": []
    },
    "/api/institutions/{id}/": {
      "get": {
        "operationId": "api_institutions_read",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Institution"
            }
          }
        },
        "tags": ["api"]
      },
      "put": {
        "operationId": "api_institutions_update",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Institution"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Institution"
            }
          }
        },
        "tags": ["api"]
      },
      "patch": {
        "operationId": "api_institutions_partial_update",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Institution"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Institution"
            }
          }
        },
        "tags": ["api"]
      },
      "delete": {
        "operationId": "api_institutions_delete",
        "description": "",
        "parameters": [],
        "responses": {
          "204": {
            "description": ""
          }
        },
        "tags": ["api"]
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "A unique integer value identifying this institution.",
          "required": true,
          "type": "integer"
        }
      ]
    },
    "/api/insurance-carriers/": {
      "get": {
        "operationId": "api_insurance-carriers_list",
        "description": "",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "A page number within the paginated result set.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return per page.",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "required": ["count", "results"],
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer"
                },
                "next": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "previous": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "results": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/InsuranceCarrier"
                  }
                }
              }
            }
          }
        },
        "tags": ["api"]
      },
      "post": {
        "operationId": "api_insurance-carriers_create",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InsuranceCarrier"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/InsuranceCarrier"
            }
          }
        },
        "tags": ["api"]
      },
      "parameters": []
    },
    "/api/insurance-carriers/{id}/": {
      "get": {
        "operationId": "api_insurance-carriers_read",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/InsuranceCarrier"
            }
          }
        },
        "tags": ["api"]
      },
      "put": {
        "operationId": "api_insurance-carriers_update",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InsuranceCarrier"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/InsuranceCarrier"
            }
          }
        },
        "tags": ["api"]
      },
      "patch": {
        "operationId": "api_insurance-carriers_partial_update",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InsuranceCarrier"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/InsuranceCarrier"
            }
          }
        },
        "tags": ["api"]
      },
      "delete": {
        "operationId": "api_insurance-carriers_delete",
        "description": "",
        "parameters": [],
        "responses": {
          "204": {
            "description": ""
          }
        },
        "tags": ["api"]
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "A unique integer value identifying this insurance carrier.",
          "required": true,
          "type": "integer"
        }
      ]
    },
    "/api/insurance-employees/": {
      "get": {
        "operationId": "api_insurance-employees_list",
        "description": "",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "A page number within the paginated result set.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return per page.",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "required": ["count", "results"],
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer"
                },
                "next": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "previous": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "results": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/InsuranceEmployeeRead"
                  }
                }
              }
            }
          }
        },
        "tags": ["api"]
      },
      "post": {
        "operationId": "api_insurance-employees_create",
        "description": "Return information serialized by read_serializer",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InsuranceEmployeeWrite"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/InsuranceEmployeeRead"
            }
          }
        },
        "tags": ["api"]
      },
      "parameters": []
    },
    "/api/insurance-employees/{id}/": {
      "get": {
        "operationId": "api_insurance-employees_read",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/InsuranceEmployeeRead"
            }
          }
        },
        "tags": ["api"]
      },
      "put": {
        "operationId": "api_insurance-employees_update",
        "description": "Return information serialized by read_serializer",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InsuranceEmployeeWrite"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/InsuranceEmployeeRead"
            }
          }
        },
        "tags": ["api"]
      },
      "patch": {
        "operationId": "api_insurance-employees_partial_update",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InsuranceEmployeeWrite"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/InsuranceEmployeeWrite"
            }
          }
        },
        "tags": ["api"]
      },
      "delete": {
        "operationId": "api_insurance-employees_delete",
        "description": "",
        "parameters": [],
        "responses": {
          "204": {
            "description": ""
          }
        },
        "tags": ["api"]
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "A unique integer value identifying this insurance employee.",
          "required": true,
          "type": "integer"
        }
      ]
    },
    "/api/insurance-policies/": {
      "get": {
        "operationId": "api_insurance-policies_list",
        "description": "",
        "parameters": [
          {
            "name": "patient",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "A page number within the paginated result set.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return per page.",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "required": ["count", "results"],
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer"
                },
                "next": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "previous": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "results": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/InsurancePolicyRead"
                  }
                }
              }
            }
          }
        },
        "tags": ["api"]
      },
      "post": {
        "operationId": "api_insurance-policies_create",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InsurancePolicyWrite"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/InsurancePolicyRead"
            }
          }
        },
        "tags": ["api"]
      },
      "parameters": []
    },
    "/api/insurance-policies/{id}/": {
      "get": {
        "operationId": "api_insurance-policies_read",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/InsurancePolicyRead"
            }
          }
        },
        "tags": ["api"]
      },
      "put": {
        "operationId": "api_insurance-policies_update",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InsurancePolicyWrite"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/InsurancePolicyRead"
            }
          }
        },
        "tags": ["api"]
      },
      "patch": {
        "operationId": "api_insurance-policies_partial_update",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InsurancePolicyWrite"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/InsurancePolicyWrite"
            }
          }
        },
        "tags": ["api"]
      },
      "delete": {
        "operationId": "api_insurance-policies_delete",
        "description": "",
        "parameters": [],
        "responses": {
          "204": {
            "description": ""
          }
        },
        "tags": ["api"]
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/api/invoicings/": {
      "get": {
        "operationId": "api_invoicings_list",
        "description": "",
        "parameters": [
          {
            "name": "patient",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "A page number within the paginated result set.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return per page.",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "required": ["count", "results"],
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer"
                },
                "next": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "previous": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "results": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Invoicing"
                  }
                }
              }
            }
          }
        },
        "tags": ["api"]
      },
      "post": {
        "operationId": "api_invoicings_create",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Invoicing"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Invoicing"
            }
          }
        },
        "tags": ["api"]
      },
      "parameters": []
    },
    "/api/invoicings/{id}/": {
      "get": {
        "operationId": "api_invoicings_read",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Invoicing"
            }
          }
        },
        "tags": ["api"]
      },
      "put": {
        "operationId": "api_invoicings_update",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Invoicing"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Invoicing"
            }
          }
        },
        "tags": ["api"]
      },
      "patch": {
        "operationId": "api_invoicings_partial_update",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Invoicing"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Invoicing"
            }
          }
        },
        "tags": ["api"]
      },
      "delete": {
        "operationId": "api_invoicings_delete",
        "description": "",
        "parameters": [],
        "responses": {
          "204": {
            "description": ""
          }
        },
        "tags": ["api"]
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/api/logout/": {
      "post": {
        "operationId": "api_logout_create",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LogoutWrite"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Empty"
            }
          },
          "400": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Empty"
            }
          }
        },
        "tags": ["api"]
      },
      "parameters": []
    },
    "/api/medical-records/": {
      "get": {
        "operationId": "api_medical-records_list",
        "description": "",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "A page number within the paginated result set.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return per page.",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "required": ["count", "results"],
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer"
                },
                "next": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "previous": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "results": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/MedicalRecord"
                  }
                }
              }
            }
          }
        },
        "tags": ["api"]
      },
      "post": {
        "operationId": "api_medical-records_create",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MedicalRecord"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/MedicalRecord"
            }
          }
        },
        "tags": ["api"]
      },
      "parameters": []
    },
    "/api/medical-records/{id}/": {
      "get": {
        "operationId": "api_medical-records_read",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/MedicalRecord"
            }
          }
        },
        "tags": ["api"]
      },
      "put": {
        "operationId": "api_medical-records_update",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MedicalRecord"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/MedicalRecord"
            }
          }
        },
        "tags": ["api"]
      },
      "patch": {
        "operationId": "api_medical-records_partial_update",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MedicalRecord"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/MedicalRecord"
            }
          }
        },
        "tags": ["api"]
      },
      "delete": {
        "operationId": "api_medical-records_delete",
        "description": "",
        "parameters": [],
        "responses": {
          "204": {
            "description": ""
          }
        },
        "tags": ["api"]
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/api/orders/": {
      "get": {
        "operationId": "api_orders_list",
        "description": "",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "description": "A search term.",
            "required": false,
            "type": "string"
          },
          {
            "name": "ordering",
            "in": "query",
            "description": "Which field to use when ordering the results.",
            "required": false,
            "type": "string"
          },
          {
            "name": "patient",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "expected_delivery_date",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "max_delivery_date",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "invoicing_status",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "requires_prescription",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "payment_method",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "is_subscription",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "origin",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "subscription",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "has_enlace_vital",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "order_status__in",
            "in": "query",
            "description": "M\u00faltiples valores separados por comas.",
            "required": false,
            "type": "string"
          },
          {
            "name": "payment_status__in",
            "in": "query",
            "description": "M\u00faltiples valores separados por comas.",
            "required": false,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "A page number within the paginated result set.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return per page.",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/OrderList"
            }
          }
        },
        "tags": ["api"]
      },
      "post": {
        "operationId": "api_orders_create",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PatientOrderWrite"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/OrderRead"
            }
          }
        },
        "tags": ["api"]
      },
      "parameters": []
    },
    "/api/orders/calculate/": {
      "post": {
        "operationId": "api_orders_calculate",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PatientOrderWrite"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/PatientOrderWrite"
            }
          }
        },
        "tags": ["api"]
      },
      "parameters": []
    },
    "/api/orders/charge-guest/": {
      "post": {
        "operationId": "api_orders_charge_guest",
        "description": "An endpoint that allows a guest to purchase an order with no required authentication.",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PatientOrderWrite"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/PatientOrderWrite"
            }
          }
        },
        "tags": ["api"]
      },
      "parameters": []
    },
    "/api/orders/quote/": {
      "post": {
        "operationId": "api_orders_quote",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PatientOrderWrite"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/PatientOrderWrite"
            }
          }
        },
        "tags": ["api"]
      },
      "parameters": []
    },
    "/api/orders/{id}/": {
      "get": {
        "operationId": "api_orders_read",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/PatientOrderRead"
            }
          }
        },
        "tags": ["api"]
      },
      "put": {
        "operationId": "api_orders_update",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PatientOrderWrite"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/OrderRead"
            }
          }
        },
        "tags": ["api"]
      },
      "patch": {
        "operationId": "api_orders_partial_update",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PatientOrderWrite"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/PatientOrderWrite"
            }
          }
        },
        "tags": ["api"]
      },
      "delete": {
        "operationId": "api_orders_delete",
        "description": "",
        "parameters": [],
        "responses": {
          "204": {
            "description": ""
          }
        },
        "tags": ["api"]
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/api/orders/{id}/download-invoice/": {
      "get": {
        "operationId": "api_orders_download_invoice",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/PatientOrderWrite"
            }
          }
        },
        "tags": ["api"]
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/api/patients/": {
      "get": {
        "operationId": "api_patients_list",
        "description": "",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "description": "A search term.",
            "required": false,
            "type": "string"
          },
          {
            "name": "ordering",
            "in": "query",
            "description": "Which field to use when ordering the results.",
            "required": false,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "A page number within the paginated result set.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return per page.",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "required": ["count", "results"],
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer"
                },
                "next": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "previous": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "results": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/PatientRead"
                  }
                }
              }
            }
          }
        },
        "tags": ["api"]
      },
      "post": {
        "operationId": "api_patients_create",
        "description": "Return information serialized by read_serializer",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PatientWrite"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/PatientRead"
            }
          }
        },
        "tags": ["api"]
      },
      "parameters": []
    },
    "/api/patients/{id}/": {
      "get": {
        "operationId": "api_patients_read",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/PatientRead"
            }
          }
        },
        "tags": ["api"]
      },
      "put": {
        "operationId": "api_patients_update",
        "description": "Return information serialized by read_serializer",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PatientWrite"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/PatientRead"
            }
          }
        },
        "tags": ["api"]
      },
      "patch": {
        "operationId": "api_patients_partial_update",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PatientWrite"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/PatientWrite"
            }
          }
        },
        "tags": ["api"]
      },
      "delete": {
        "operationId": "api_patients_delete",
        "description": "",
        "parameters": [],
        "responses": {
          "204": {
            "description": ""
          }
        },
        "tags": ["api"]
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/api/payment-methods/": {
      "get": {
        "operationId": "api_payment-methods_list",
        "description": "",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "A page number within the paginated result set.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return per page.",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "required": ["count", "results"],
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer"
                },
                "next": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "previous": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "results": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/PaymentMethod"
                  }
                }
              }
            }
          }
        },
        "tags": ["api"]
      },
      "post": {
        "operationId": "api_payment-methods_create",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PaymentMethod"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/PaymentMethod"
            }
          }
        },
        "tags": ["api"]
      },
      "parameters": []
    },
    "/api/payment-methods/{id}/": {
      "get": {
        "operationId": "api_payment-methods_read",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/PaymentMethod"
            }
          }
        },
        "tags": ["api"]
      },
      "put": {
        "operationId": "api_payment-methods_update",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PaymentMethod"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/PaymentMethod"
            }
          }
        },
        "tags": ["api"]
      },
      "patch": {
        "operationId": "api_payment-methods_partial_update",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PaymentMethod"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/PaymentMethod"
            }
          }
        },
        "tags": ["api"]
      },
      "delete": {
        "operationId": "api_payment-methods_delete",
        "description": "",
        "parameters": [],
        "responses": {
          "204": {
            "description": ""
          }
        },
        "tags": ["api"]
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/api/payments/": {
      "get": {
        "operationId": "api_payments_list",
        "description": "",
        "parameters": [
          {
            "name": "user",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "A page number within the paginated result set.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return per page.",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "required": ["count", "results"],
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer"
                },
                "next": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
[...]
